SQL_DSN=boluo_admin@boluo-mysql:<CHANGE_ME>@tcp(boluo-mysql.mysql.database.azure.com:3306)/new-api?charset=utf8mb4&parseTime=true&loc=Local&tls=true
REDIS_CONN_STRING=rediss://:<CHANGE_ME>@boluo-redis.redis.cache.windows.net:6380/0
SESSION_SECRET=<CHANGE_ME>

LOCAL_DB_NAME=new-api
LOCAL_DB_USER=boluo
LOCAL_DB_PASSWORD=<CHANGE_ME>
LOCAL_DB_ROOT_PASSWORD=<CHANGE_ME>
LOCAL_SQL_DSN=boluo:<CHANGE_ME>@tcp(mysql:3306)/new-api?charset=utf8mb4&parseTime=true&loc=Local

LOCAL_REDIS_PASSWORD=<CHANGE_ME>
LOCAL_REDIS_CONN_STRING=redis://:<CHANGE_ME>@redis:6379/0

BOLUO_SYSTEM_NAME=Boluo API Gateway
BOLUO_LOGO_URL=
BOLUO_FOOTER_HTML=Boluo API Gateway
BOLUO_DOCS_LINK=https://chinallmapi.com

BOLUO_RETRY_TIMES=2
BOLUO_AUTO_DISABLE_STATUS_CODES=429,500-503
BOLUO_AUTO_RETRY_STATUS_CODES=429,500-503

PORT=3000
